@font-face {
    font-family: "Falstaff";
    src:         url("../fonts/FalstaffMTStd.otf");
}

@font-face {
    font-family: "Avenir";
    src:         url("../fonts/AvenirLTStd-Roman.otf");
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: "Avenir";
    src:         url("../fonts/AvenirLTStd-Medium.otf");
    font-weight: bold;
    font-style:  normal;
}

body {
    font-family: "Avenir", sans-serif;
}

.font-falstaff {
    font-family: "Falstaff", sans-serif;
}

.font-avenir {
    font-family: "Avenir", sans-serif;
}

#hola-soy-aroa {
    background: url("../img/aroa.jpg") no-repeat right;
    height:     690px;
}

#kurrin-app {
    background:      url("../img/kurrin-app.jpg") no-repeat left;
    background-size: contain;
    height:          690px;
}

#abc-web {
    background:      url("../img/abc-web.jpg") no-repeat right;
    background-size: contain;
    height:          690px;
}

#atabaka {
    background:      url("../img/atabaka.jpg") no-repeat left;
    background-size: contain;
    height:          690px;
}

#ekin-app {
    background:      url("../img/ekin-app.jpg") no-repeat right;
    background-size: contain;
    height:          690px;
}

#contacto {
    background-color: #DAE0EC;
}

h2 {
    font-size: 90px;
}

h3 {
    font-size: 24px;
}